/* .results {
  display: none;
}

if the class is hidden in this way, i have trouble displaying the children with targeted ids */

.hidden {
  display: none;
}

.results {
  font-size: 30px;
}

/* .button{
  margin:0px auto; //it will center them
} */

body {
  background-image: url(../img/whiteBG.jpg);
}

.card {
  width: 40rem;
  background-color: lightblue;
}
